h1.a {
    font-family: "Audiowide", sans-serif;
    color: beige;
  }
   h2.b {
    font-family: "Audiowide", sans-serif;
    color: rgb(48, 65, 224);
   }
   .glow {
    font-family: "Audiowide", sans-serif;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .glow2 {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .glow3 {
    font-family: "Audiowide", sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .glow4 {
    font-family: "Audiowide", sans-serif;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  
  }


.container{
position: relative;
max-width: 800px;
margin: 0 auto;
padding: 5vh 0vh 5vh 0vh;

}
#grad1 {
height: 200px;
background-color: red; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, red , yellow);
}

body {
  background-repeat: no-repeat;
  background-size: cover; 
  
  background-image: url("../images/guwa.gif");
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
  
    }
    p.third {
    background: rgba(255, 23, 104, 0.6);
  }

  .column {
    float: left;
    width: 50%;
    height: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
